html(lang='en')
  include includes/head.pug
  body
    section(class='container')
      h1 Car Rental Supreme
      h3 Hyr din bil hos oss!
      
      include includes/nav.pug
      
      h2 Bekräfta din bokning nedan!
      

      form(method='post' action='/bekrafta')
        input(type="text" value=data.id name='id' class='hidden')
        input(type="text" value=data.start name='start' class='hidden')
        input(type="text" value=data.stop name='stop' class='hidden')
        input(type='submit' value="Bekräfta" id="bokabtn") 
                 
          
include includes/scripts.pug  
