html(lang='en')
  include includes/head.pug
  body
    section(class='container')
      h1 Car Rental Supreme
      h3 Hyr din bil hos oss!
      
      include includes/nav.pug
      
      h2 Sortera fram vilken bil du är intresserad av.
      
      div(id='dropdownwrapper')
        form(class='hyrform')
          select(name='sits')
            option(value='Sits' id='0') Antal sitsar
            option(value='2-sits' id='1') 2-sits
            option(value='5-sits' id='2') 5-sits
            option(value='7-sits' id='3') 7-sits

        form(class='hyrform')
          select(name='vaxel')
            option(value='vaxel' id='4') Växellåda
            option(value='ja' id='5') Automat
            option(value='nej' id='6') Manuell
                        
        form(class='hyrform')
          select(name='tak')
            option(value='tak' id='7') Takräcke
            option(value='ja' id='8') Ja
            option(value='nej' id='9') Nej        

        form(class='hyrform')
          select(name='tak')
            option(value='tak' id='10') Takräcke
            option(value='ja' id='11') Ja
            option(value='nej' id='12') Nej 
            
        button(id='hyrbtn') Hitta din bil               
          
include includes/scripts.pug  
