html(lang='en')
  include includes/head.pug
  body
    section(class='container')
      h1 Car Rental Supreme
      h3 Hyr din bil hos oss!
      
      include includes/nav.pug
      
      h2 Sortera fram vilken bil du 채r intresserad av.
      
      div(id='dropdownwrapper')
        form(class='hyrform' method="post" action="/hyr")
          select(name='sits')
            option(value='Sits' id='0') Antal sitsar
            option(value='2' id='1') 2-sits
            option(value='5' id='2') 5-sits
            option(value='7' id='3') 7-sits
          select(name='vaxel')
            option(value='Inget val' id='4') V채xell책da
            option(value='Automat' id='5') Automat
            option(value='Manuell' id='6') Manuell
          select(name='tak')
            option(value='Inget val' id='7') Takr채cke
            option(value='ja' id='8') Ja
            option(value='nej' id='9') Nej        
          select(name='dragkrok')
            option(value='Inget val' id='10') Dragkrok
            option(value='ja' id='11') Ja
            option(value='nej' id='12') Nej 
          
          input(type="submit" id="hyrbtn")  
               
          
include includes/scripts.pug  
