html(lang='en')
  include includes/head.pug
  body
    section(class='container')
      h1 Car Rental Supreme
      h3 Hyr din bil hos oss!
      
      include includes/nav.pug
      
      h2 Sortera fram vilken bil du är intresserad av.
      
      div(id='dropdownwrapper')
        form(class='hyrform' method="post" action="/hyr")
          select(name='seats')
            option(value='' id='0') Antal sitsar
            option(value='2-sits' id='1') 2-sits
            option(value='5-sits' id='2') 5-sits
            option(value='7-sits' id='3') 7-sits
          select(name='gear')
            option(value='' id='4') Växellåda
            option(value='Automat' id='5') Automat
            option(value='Manuell' id='6') Manuell
          select(name='rails')
            option(value='' id='7') Takräcke
            option(value='Ja' id='8') Ja
            option(value='Nej' id='9') Nej        
          select(name='tow')
            option(value='' id='10') Dragkrok
            option(value='Ja' id='11') Ja
            option(value='Nej' id='12') Nej
          input(type='date' name='bokningsstart' class='datum' id="dateOne" min="2014-01-01" disabled) 
          input(type='date' name='bokningsstop' class='datum' id="dateTwo")  
              
          input(type="submit" id="hyrbtn")  
        
      if results
        table
          tr(id="tablehead")
            th Märke 
            th Pris/dag
            th Takräcke
            th Dragkrok
            th Växel
            th Antal sitsar
            th Boka från
            th Boka till

          each val in results
            
              tr 
                th=  val.brand 
                th=  val.price
                th=  val.rails
                th=  val.tow
                th=  val.gear
                th=  val.seats
                th=  val.bokningsstart
                th=  val.bokningsstop
                th
                  //URLen som skickas med till sidan "bekrafta" kommer innehålla alla värden från bokningen. 
                  a(href="/bekrafta?id=" + val._id + "&start=" + val.bokningsstart  + "&stop=" + val.bokningsstop + "&brand=" + val.brand + "&rails=" + val.rails + "&tow=" + val.tow + "&gear=" + val.gear + "&seats=" + val.seats + "&price=" + val.price id="boka") Boka

          else
              h3 Inga resultat
              
                 
          
include includes/scripts.pug  
