html(lang='en')
  include includes/head.pug
  body
    section(class='container')
      h1 Car Rental Supreme
      h3 Hyr din bil hos oss!
      
      include includes/nav.pug
      
      p För att hyra en bil hos oss behöver du först logga in.
      p Har du inte ett konto kan du registrera en ny användare.
    
include includes/scripts.pug    
