html(lang='en')
	include includes/head.pug
	body
	section(class='container')
		h1 Car Rental Supreme
		h3 Logga in hyr din bil hos oss!
		
		include includes/nav.pug
		
		div(id='wrapper')
			form(method='post' action='/login' class="loginform")
				input(type='Email', placeholder='Email', name='email')
				input(type='Password', placeholder='Lösenord' name='password')
				input(class='submitbtn' type='submit')
include includes/scripts.pug      
