html(lang='en')
	include includes/head.pug
	body
	section(class='container')
		h1 Car Rental Supreme
		h3 Logga in hyr din bil hos oss!
		
		include includes/nav.pug
		
		div(id='wrapper')
			form(method='post' action='/login')
				input(type='Text', placeholder='Förnamn', name='fname')
				input(type='Text', placeholder='Efternamn', name='ename')
				input(type='Number', placeholder='Mobilnummer', name='phone')
				input(type='Email', placeholder='Email', name='email')
				input(type='Password', placeholder='Lösenord' name='password')
				input(id='loginbtn' type='submit')
include includes/scripts.pug      
