html(lang='en')
	include includes/head.pug
	body
	section(class='container')
		h1 Car Rental Supreme
		h3 Logga in hyr din bil hos oss!
		
		include includes/nav.pug
		
		div(id='wrapper')
			if err
				each val in err
					h4=val
			form(method='post' action='/registrera')
				input(type='Text', placeholder='Förnamn', name='fname')
				input(type='Text', placeholder='Efternamn', name='ename')
				input(type='Number', placeholder='Mobilnummer', name='phone')
				input(type='Email', placeholder='Email', name='email')
				input(type='Password', placeholder='Lösenord' name='password')
				input(type='Password', placeholder='Repitera lösenord' name='password2')
				input(class='submitbtn' type='submit')
include includes/scripts.pug      
