body{
  background-color: #f8f8f8;
}
h1 {
  padding-top: 100px;
  text-align: center;
}
h3{
  text-align: center;
}
th{
  padding: 20px;
}

#tableheadline{
  background-color: #546577;
}

form{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
input{
  width: 200px;
  margin-top: 2px;
}
